<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated RdP -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="RedDePetri.presentation.RedDePetriModelWizardID"
            name="%_UI_RedDePetriModelWizard_label"
            class="RedDePetri.presentation.RedDePetriModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RedDePetriModelFile.gif">
         <description>%_UI_RedDePetriModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated RdP -->
      <editor
            id="RedDePetri.presentation.RedDePetriEditorID"
            name="%_UI_RedDePetriEditor_label"
            icon="icons/full/obj16/RedDePetriModelFile.gif"
            extensions="reddepetri"
            class="RedDePetri.presentation.RedDePetriEditor"
            contributorClass="RedDePetri.presentation.RedDePetriActionBarContributor">
      </editor>
   </extension>

</plugin>
